.App {
    font-size: medium;
}

.center {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-options {
    top: 40%;
}

.title {
    top: 10%;

    font-weight: bold;
    font-size: x-large;
}