.user-details {
    text-align: center
}

.user-picture {
    display: flex;
    justify-content: center;
}

.menu-vertical {
    margin-bottom: 2vh;
}

.botones-de-accion {
    width: 80%;
}

 /*Esta clase es de Semantic no encontre mejor forma de hacerlo*/
.ui.vertical.buttons .button {
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.deposito-en-efectivo {
    height: 20vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.botones-deposito {
    height: 12vh;
}

.centrado-vertical {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}